<div class="h-screen w-screen m-auto bg-gradient-to-b from-teal-400 to-blue-500">
  <div *ngIf="activeUser != null; else login">
    <div class="pl-10 pt-10 pr-10 pb-6">
      <nz-card>
        <app-topmenu></app-topmenu>
      </nz-card>
    </div>
    <div class="pt-0 pr-12 pb-12 pl-12">
      <nz-card class="p-8" style="height: 76vh">
        <router-outlet></router-outlet>
      </nz-card>
    </div>
  </div>
  <ng-template #login>
    <router-outlet></router-outlet>
  </ng-template>
</div>
